section(data-route='about')
  paper-material(elevation='1')
    h2.page-title About
    p
      | I stumbled on this page. How do I vote?
      br
      | First of all go to the voting page. Look at the list of palettes, shapes and periods.
      | If you like something you see there already, click on it and it will appear in the hashtag.
      | Otherwise, if you have an idea not similar to what's already displayed, type it in the hashtag,
      | and it will also appear for others to vote on.
