section(data-route='contact')
  paper-material(elevation='1')
    h2.page-title Contact
    p
      a(href='https://github.com/CodepenCreativeChallenge/voting-app'
        target='_blank') Github repo
