:host {
  display: inline-block;
}
input {
  margin: 0;
  border: none;
  font-size: 1em;
  padding: 0;
  border-bottom: 2px solid lightgray;
}
input:focus {
  outline: none;
  border-bottom: 2px solid darkgrey;
}
