- var bower = '../../bower_components'

link(rel='import', href='#{bower}/polymer/polymer.html')

dom-module#hashtag-input
  template
    style
      include hashtag-input.css
    span #
    input(type="text" placeholder="palette")
    input(type="text" placeholder="Shape")
    input(type="text" placeholder="Period")
  script
    include hashtag-input.js
