- var bower = '../../bower_components'

link(rel='import', href='#{bower}/polymer/polymer.html')

dom-module#hashtag-input
  template
    style
      include hashtag-input.css
    span #
    autosize-input(placeholder="palette")
    autosize-input(placeholder="Shape")
    autosize-input(placeholder="Period")
  script
    include hashtag-input.js
