- var bower = '../../bower_components'

link(rel='import', href='#{bower}/polymer/polymer.html')

dom-module#hashtag-input
  template
    style
      include hashtag-input.css
    p
      | test
  script
    include hashtag-input.js
