:host {
  display: block;
}
span {
	float: left;
}
input {
	float: left;
	margin: 0;
	border: none;
	font-size: 1em;
	border-bottom: 2px solid lightgray;
}
input {
	text-transform: capitalize;
}
input:focus {
	outline: none;
	border-bottom: 2px solid darkgrey;
}
