:host {
  display: block;
}

.avatar {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  overflow: hidden;
  margin-left: 16px;

}

img {
  height: 100%;
  width: 100%;
  border-radius: 100%;
}
